<div th:replace="fragments/header (pageTitle='Add new person')"></div>



    <div class="container-fluid bg-dark text-center text-white p-4">
        <h4>ADD NEW PERSON</h4>
    </div>
    
    
<div class="container">
	<br />

	 <form th:action="@{/addEmployee}"  method="post">

       
        <b>First name:</b> <input type="text" name="name" required><br><br>
        <b>Surname:</b> <input type="text" name="surname" required><br><br>
        <b>Person code:</b> <input type="text" name="personCode" required><br><br>
        <b>Email:</b> <input type="email" name="email" required><br><br>
        <b>Password:</b> <input type="password" name="password" required><br><br>
        <b>Repeat password:</b> <input type="password" name="rPassword" required><br><br>
        <b>Access Level: </b>
        <select name="accessLevel" required>
        	<option selected="selected" disabled>select access level</option>
        	<option th:each="lvl : ${accessLevels}"
                            th:value="${lvl.accessLevelID}"
                            th:utext="${lvl.accessLevel}"/>
        	
		</select> 
		
		<br><br>
        <b>Role: </b>
        <select name="role" required>
        	<option selected="selected" disabled>select role</option>
        	<option th:each="role : ${roles}"
                            th:value="${role.roleID}"
                            th:utext="${role.roleName}"/>
		</select> 
		<br><br>
        
      <!--    <b>Education:</b> <input type="text" name="education" th:field="*{education}"><br><br> -->


		<input type="submit" class="btn btn-success" role="button" value="ADD">
	</form>
<br><br>
</div>
    
    
    
    
     <div th:replace="fragments/footer"></div>
    