<div th:replace="fragments/header (pageTitle='Add new person')"></div>



    <div class="container-fluid bg-dark text-center text-white p-4">
        <h4>ADD NEW PERSON</h4>
    </div>
    
    
<div class="container">
	<br />

	 <form th:action="@{/addEmployee}" th:object="Employee" method="post">

        <b>ID:</b> <input type="text" name="id" th:field="*{id}" ></input><br><br>
        <b>First name:</b> <input type="text" name="name" th:field="*{name}"><br><br>
        <b>Surname:</b> <input type="text" name="surname" th:field="*{surname}"><br><br>
        <b>Person code:</b> <input type="text" name="personCode" th:field="*{personCode}"><br><br>
        <b>Email:</b> <input type="text" name="email" th:field="*{email}"><br><br>
        <b>Password:</b> <input type="text" name="password" th:field="*{password}"><br><br>
        <b>Access Level ID:</b> <input type="text" name="accessLevelID" th:field="*{accessLevelID}"><br><br>
        <b>Access Level:</b> <input type="text" name="accessLevel" th:field="*{accessLevel}"><br><br>
        <b>Role ID:</b> <input type="text" name="roleID" th:field="*{roleID}"><br><br>
        <b>Role:</b> <input type="text" name="role" th:field="*{role}"><br><br>
        
      <!--    <b>Education:</b> <input type="text" name="education" th:field="*{education}"><br><br> -->


		<input type="submit" class="btn btn-success" role="button" value="ADD">
	</form>
<br><br>
</div>
    
    
    
    
     <div th:replace="fragments/footer"></div>
    