<div th:replace="fragments/header (pageTitle='Completed Forms')"></div>

<div class="container-fluid bg-dark text-center text-white p-4">
	<h1>COMPLETED FORMS</h1>
</div>

<div class="container-width">
	<table class="table">
		<thead class="thead-light text-center">
			<th>First Name</th>
			<th>Last Name</th>
			<th>Date/time</th>
			<th>View</th>

		</thead>
		<tbody>
			<tr th:each="fb : ${feedbacks}">
				<td class="text-center" th:text="${fb.employeeFromName}"></td>
				<td class="text-center" th:text="${fb.employeeFromSurname}"></td>
				<td class="text-center" th:text="${fb.dateTime}"></td>
				<td class="text-center"><button type="button" class="btn btn-outline-info">View feedback</button></td>
			</tr>
		</tbody>
	</table>
</div>



<div th:replace="fragments/footer"></div>