<div th:replace="fragments/header (pageTitle='Employee List')"></div>
    
        <div class="container-fluid bg-dark text-center text-white p-4">
            <h2> Contact List:</h2>
        </div>

    <div class="container-width text-center p-2">
      <a th:href="@{/addPerson}" class="btn btn-secondary" value="" role="button">Add new person</a>
      
    </div>
    
    <div class="container-width">
        <table class="table">
            <thead class="thead-light text-center">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email </th>
            <th>Leave Feedback</th>
            <th>View info</th>
            </thead>
            <tbody>
                <tr th:each="person : ${persons}">
                    <td class="text-center" th:utext="${person.firstName}">Amin</td>
                    <td class="text-center" th:utext="${person.lastName}">Yashed</td>
                    <td class="text-center">amin.yashed@example.com</td>
                    <td class="text-center"><a href="@{/feedbackForm}" class="btn btn-outline-secondary" role="button ">Link Button to leave feedback</a></td>
                	<td class="text-center"><a th:href="@{/#}" class="btn btn-outline-secondary" value="" role="button">Info</a></td>
                </tr>
                <tr>
                    <td class="text-center">Mary</td>
                    <td class="text-center">Moe</td>
                    <td class="text-center">mary@example.com</td>
                    <td class="text-center">  <a href="@{/feedbackForm}" class="btn btn-outline-secondary" role="button ">Link Button to leave feedback</a></td>
                     <td class="text-center"><a href="@{/#}" class="btn btn-outline-secondary" role="button">Info</a></td>
                
                </tr>
                <tr>
                    <td class="text-center">Holly</td>
                    <td class="text-center">Molly</td>
                    <td class="text-center">holly.molly@example.com</td>
                    <td class="text-center">  <a href="@{/feedbackForm}" class="btn btn-outline-secondary" role="button ">Link Button to leave feedback</a></td>
               		<td class="text-center"><a href="@{/#}" class="btn btn-outline-secondary" role="button">Info</a></td>
               		
                </tr>
            </tbody>
        </table>
    </div>

 <div th:replace="fragments/footer"></div>