<div th:replace="fragments/header (pageTitle='Employee Details')"></div>

		<div class="container-fluid bg-dark text-center text-white p-4">
            <h4>VIEW DETAILS FOR <span th:text="${surname}"></span>&nbsp;<span th:text="${name}"></span></h4>
        </div>



<div class="container">
<br />
<div class="row">
    <div class="col-sm-2">
    <a th:href="@{'/updateEmployee?id=' + ${id}}" type="button" class="btn btn-success" role="button">Update</a>
    </div>
    <div class="col-sm-10">
    <a th:href="@{/deleteEmployee}"type="button" class="btn btn-danger" role="button">Delete</a>
     <span class="border-bottom" color="color-dark"></span>
    </div>


  </div>

 <br>
 <p> <b>ID:</b> <span th:text="${id}"> </p> <br>
 <p><b> Name:</b>  <span th:text="${name}"> </p> <br>
 <p><b> Surname:</b> <span th:text="${surname}"> </p> <br>
 <p><b> Person code:</b> <span th:text="${personCode}"> </p> <br>
 <p><b> Email:</b><span th:text="${email}"> </p> <br>
 <p><b> Access Level ID:</b> <span th:text="${accessLevelID}"> </p> <br>
 <p><b> Access Level:</b> <span th:text="${accessLevel}"></p> <br>
 <p><b> Role ID:</b> <span th:text="${roleID}"> </p> <br>
 <p><b> Role:</b> <span th:text="${role}"> </p> <br>
 <p><b> Education:</b> <span th:text="${education}"> </p> <br>
 <br>

  </div>
<div th:replace="fragments/footer"></div>