<div th:replace="fragments/header (pageTitle='Employee Details')"></div>

		<div class="container-fluid bg-dark text-center text-white p-4">
            <h4> Employee Name Surname here :</h4>
        </div>



<div class="container">
<br />
<div class="row">
    <div class="col-sm-2">
    <input type="button" class="btn btn-success" value="Update">
    </div>
    <div class="col-sm-10">
    <input type="submit" class="btn btn-danger" value="Delete"><br>
     <span class="border-bottom" color="color-dark"></span>
    </div>

  </div>

 <br>
 <p> <b>ID:</b> getId() </p> <br>
 <p><b> Name:</b> getName() </p> <br>
 <p><b> Surname:</b> getSurname() </p> <br>
 <p><b> Person code:</b> getPersonCode() </p> <br>
 <p><b> Email:</b> getEmail() </p> <br>
 <p><b> Access Level ID:</b> getAccessLevelID() </p> <br>
 <p><b> Access Level:</b> getAccessLevel() </p> <br>
 <p><b> Role ID:</b> getRoleID() </p> <br>
 <p><b> Role:</b> getRole() </p> <br>
 <p><b> Education:</b> getEducation() </p> <br>
 <br>

 
<div th:replace="fragments/footer"></div>