<div th:replace="fragments/header (pageTitle='Employee Details')"></div>

<div class="container-fluid bg-dark text-center text-white p-4">
    <h4>VIEW DETAILS FOR <span th:text="${surname}"></span>&nbsp;<span th:text="${name}"></span></h4>
</div>
<br />
<div class="container">	
	<div class="row">
	    <div class="p-2 col-sm-2">
	    <a th:href="@{'/updateEmployee?id=' + ${id}}" type="button" class="btn btn-success" role="button">Update</a>
	    </div>
	    <div class="p-2 col-sm-10">
	    <a th:href="@{/deleteEmployee}"type="button" class="btn btn-danger" role="button">Delete</a>
	     <span class="border-bottom" color="color-dark"></span>
	    </div>
	</div>
	<br />	
	
	<div class="row">
	  <div class="p-2 col-2 font-weight-bold">ID:</div>
	  <div class="p-2 col-4"><span th:text="${id}"></div>
	</div>
	<div class="row">
	  <div class="p-2 col-2 font-weight-bold">Name:</div>
	  <div class="p-2 col-4"><span th:text="${name}"></div>
	</div>
	<div class="row">
	  <div class="p-2 col-2 font-weight-bold">Surname:</div>
	  <div class="p-2 col-4"><span th:text="${surname}"></div>
	</div>
	<div class="row">
	  <div class="p-2 col-2 font-weight-bold">Person code:</div>
	  <div class="p-2 col-4"><span th:text="${surname}"></div>
	</div>
	<div class="row">
	  <div class="p-2 col-2 font-weight-bold">Email</div>
	  <div class="p-2 col-4"><span th:text="${email}"></div>
	</div>
	<div class="row">
	  <div class="p-2 col-2 font-weight-bold">Access Level ID:</div>
	  <div class="p-2 col-4"><span th:text="${accessLevelID}"></div>
	</div>
	<div class="row">
	  <div class="p-2 col-2 font-weight-bold">Access Level:</div>
	  <div class="p-2 col-4"><span th:text="${accessLevel}"></div>
	</div> 
	<div class="row">
	  <div class="p-2 col-2 font-weight-bold">Role ID:</div>
	  <div class="p-2 col-4"><span th:text="${roleID}"></div>
	</div>
	<div class="row">
	  <div class="p-2 col-2 font-weight-bold">Role:</div>
	  <div class="p-2 col-4"><span th:text="${role}"></div>
	</div>
	<div class="row">
	  <div class="p-2 col-2 font-weight-bold">Education:</div>
	  <div class="p-2 col-4"><span th:text="${education}"></div>
	</div>

</div>
<div th:replace="fragments/footer"></div>