<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
   <title th:text="Contact List"></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: grey;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container-fluid ">

        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="navbar nav">
                        <a class="nav-link" href="#">Home</a>
                    </li>


                </ul>
                <ul class="navbar nav">
                    <li class="nav navbar-nav nav-right">
                        <button href="#" class="btn btn-secondary" type="submit">Sign Out</button>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
    
        <div class="container-fluid bg-dark text-center text-white p-4">
            <h2> Contact List:</h2>
        </div>




    <div class="container-width">
        <table class="table">
            <thead class="thead-light text-center">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email </th>
            <th>Leave Feedback</th>
            </thead>
            <tbody>
                <tr th:each="person : ${persons}">
                    <td class="text-center" th:utext="${person.firstName}">Amin</td>
                    <td class="text-center" th:utext="${person.lastName}">Yashed</td>
                    <td class="text-center">amin.yashed@example.com</td>
                    <td class="text-center">  <a href="redirect here" class="btn btn-outline-secondary" role="button ">Link Button to leave feedback</a></td>
                </tr>
                <tr>
                    <td class="text-center">Mary</td>
                    <td class="text-center">Moe</td>
                    <td class="text-center">mary@example.com</td>
                    <td class="text-center">  <a href="redirect here" class="btn btn-outline-secondary" role="button ">Link Button to leave feedback</a></td>
                </tr>
                <tr>
                    <td class="text-center">Holly</td>
                    <td class="text-center">Molly</td>
                    <td class="text-center">holly.molly@example.com</td>
                    <td class="text-center">  <a href="redirect here" class="btn btn-outline-secondary" role="button ">Link Button to leave feedback</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="footer" style="margin-bottom:0">
        <br />
        <br />
    </div>

</body>
</html>