<div th:replace="fragments/header (pageTitle='Feedback')"></div>

<div class="container-fluid bg-dark text-center text-white p-4">
        <p> Please provide your feedback in specified areas for <b>Name  Surname:</b></p>
    </div>

    <div class="container">
       
        <br />
        <form action="/action_page.php">
        <p>1. General work quality:</p>
                    <input type="radio" class="form-check-input" name="general_work_quality" value="5" required>5 - Excellent<br>
                    <input type="radio" class="form-check-input" name="general_work_quality" value="4">4 - Very Good<br>
                    <input type="radio" class="form-check-input" name="general_work_quality" value="3">3 - Good<br>
                    <input type="radio" class="form-check-input" name="general_work_quality" value="2">2 - Fair<br>
                    <input type="radio" class="form-check-input" name="general_work_quality" value="1">1 - Poor<br>
               		<br />
         <p>2. Dependability:</p>
               		<input type="radio" class="form-check-input" name="dependability" value="5" required>5 - Excellent<br>
                    <input type="radio" class="form-check-input" name="dependability" value="4">4 - Very Good<br>
                    <input type="radio" class="form-check-input" name="dependability" value="3">3 - Good<br>
                    <input type="radio" class="form-check-input" name="dependability" value="2">2 - Fair<br>
                    <input type="radio" class="form-check-input" name="dependability" value="1">1 - Poor<br>
 					<br />	
   
        <p>3. Area of knowledge:</p>
       				<input type="radio" class="form-check-input" name="area_knowledge" value="5" required>5 - Excellent<br>
                    <input type="radio" class="form-check-input" name="area_knowledge" value="4">4 - Very Good<br>
                    <input type="radio" class="form-check-input" name="area_knowledge" value="3">3 - Good<br>
                    <input type="radio" class="form-check-input" name="area_knowledge" value="2">2 - Fair<br>
                    <input type="radio" class="form-check-input" name="area_knowledge" value="1">1 - Poor<br>
 					<br />	
    
        <p>4. Communication skills:</p>
     				<input type="radio" class="form-check-input" name="communication_skills" value="5" required>5 - Excellent<br>
                    <input type="radio" class="form-check-input" name="communication_skills" value="4">4 - Very Good<br>
                    <input type="radio" class="form-check-input" name="communication_skills" value="3">3 - Good<br>
                    <input type="radio" class="form-check-input" name="communication_skills" value="2">2 - Fair<br>
                    <input type="radio" class="form-check-input" name="communication_skills" value="1">1 - Poor<br>
 					<br />	
            <p>5. Management skills:</p>
        			<input type="radio" class="form-check-input" name="management_skills" value="5" required>5 - Excellent<br>
                    <input type="radio" class="form-check-input" name="management_skills" value="4">4 - Very Good<br>
                    <input type="radio" class="form-check-input" name="management_skills" value="3">3 - Good<br>
                    <input type="radio" class="form-check-input" name="management_skills" value="2">2 - Fair<br>
                    <input type="radio" class="form-check-input" name="management_skills" value="1">1 - Poor<br>
 					<br />	
        	<p>6. Contribution:</p>
        			<input type="radio" class="form-check-input" name="contribution" value="5" required>5 - Excellent<br>
                    <input type="radio" class="form-check-input" name="contribution" value="4">4 - Very Good<br>
                    <input type="radio" class="form-check-input" name="contribution" value="3">3 - Good<br>
                    <input type="radio" class="form-check-input" name="contribution" value="2">2 - Fair<br>
                    <input type="radio" class="form-check-input" name="contribution" value="1">1 - Poor<br>
 					<br />	
        
        <p>8. Productivity:</p>
					<input type="radio" class="form-check-input" name="productivity" value="5" required>5 - Excellent<br>
                    <input type="radio" class="form-check-input" name="productivity" value="4">4 - Very Good<br>
                    <input type="radio" class="form-check-input" name="productivity" value="3">3 - Good<br>
                    <input type="radio" class="form-check-input" name="productivity" value="2">2 - Fair<br>
                    <input type="radio" class="form-check-input" name="productivity" value="1">1 - Poor<br>
 					<br />	
  
        <p>9. Areas of strength:</p>
            		<div class="form-group">
             			  <textarea class="form-control" rows="5" name="strong_points" maxlength="512" ></textarea>
           			 </div>
     
        <p>10. Areas of weakness:</p>
         		  	<div class="form-group">
                  		 <textarea class="form-control" rows="5" name="weak_points" maxlength="512"></textarea>
        		    </div>
       
        <p>11. Additional comment:</p>
           			 <div class="form-group">
              			 <textarea class="form-control" rows="5" name="comment" maxlength="512"></textarea>
          			  </div>
      
        <button type="submit" class="btn btn-success btn-lg btn-block">Submit your feedback</button>
	</form>
    
    </div>

<div th:replace="fragments/footer"></div>