<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
    <title>Feedback form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: grey;
            color: white;
            text-align: center;
        }
  
    </style>
</head>
<body>

<div class="container-fluid">

        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="navbar nav">
                        <a class="nav-link" href="/@home">Home</a>
                    </li>


                </ul>
                <ul class="navbar nav">
                    <li class="nav navbar-nav nav-right">
                        <button href="#" class="btn btn-secondary" type="submit">Sign Out</button>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
    <div class="container-fluid bg-dark text-center text-white p-4">
        <p> Please provide your feedback in specified areas for <b>Name  Surname:</b></p>
    </div>

    <div class="container">
       
        <br />
        <form action="/action_page.php">
        <p>1. General work quality:</p>
                    <input type="radio" class="form-check-input" name="work-quality" value="5">5 - Excellent<br>
                    <input type="radio" class="form-check-input" name="work-quality" value="4">4 - Very Good<br>
                    <input type="radio" class="form-check-input" name="work-quality" value="3">3 - Good<br>
                    <input type="radio" class="form-check-input" name="work-quality" value="2">2 - Fair<br>
                    <input type="radio" class="form-check-input" name="work-quality" value="1">1 - Poor<br>
               		<br />
         <p>2. Dependability:</p>
               		<input type="radio" class="form-check-input" name="dependability" value="5">5 - Excellent<br>
                    <input type="radio" class="form-check-input" name="dependability" value="4">4 - Very Good<br>
                    <input type="radio" class="form-check-input" name="dependability" value="3">3 - Good<br>
                    <input type="radio" class="form-check-input" name="dependability" value="2">2 - Fair<br>
                    <input type="radio" class="form-check-input" name="dependability" value="1">1 - Poor<br>
 					<br />	
   
        <p>3. Area of knowledge:</p>
       				<input type="radio" class="form-check-input" name="knowledge" value="5">5 - Excellent<br>
                    <input type="radio" class="form-check-input" name="knowledge" value="4">4 - Very Good<br>
                    <input type="radio" class="form-check-input" name="knowledge" value="3">3 - Good<br>
                    <input type="radio" class="form-check-input" name="knowledge" value="2">2 - Fair<br>
                    <input type="radio" class="form-check-input" name="knowledge" value="1">1 - Poor<br>
 					<br />	
    
        <p>4. Communication skills:</p>
     				<input type="radio" class="form-check-input" name="communication" value="5">5 - Excellent<br>
                    <input type="radio" class="form-check-input" name="communication" value="4">4 - Very Good<br>
                    <input type="radio" class="form-check-input" name="communication" value="3">3 - Good<br>
                    <input type="radio" class="form-check-input" name="communication" value="2">2 - Fair<br>
                    <input type="radio" class="form-check-input" name="communication" value="1">1 - Poor<br>
 					<br />	
            <p>5. Management skills:</p>
        			<input type="radio" class="form-check-input" name="management" value="5">5 - Excellent<br>
                    <input type="radio" class="form-check-input" name="management" value="4">4 - Very Good<br>
                    <input type="radio" class="form-check-input" name="management" value="3">3 -  Good<br>
                    <input type="radio" class="form-check-input" name="management" value="2">2 - Fair<br>
                    <input type="radio" class="form-check-input" name="management" value="1">1 - Poor<br>
 					<br />	
        	<p>6. Contribution:</p>
        			<input type="radio" class="form-check-input" name="contribution" value="5">5 - Excellent<br>
                    <input type="radio" class="form-check-input" name="contribution" value="4">4 - Very Good<br>
                    <input type="radio" class="form-check-input" name="contribution" value="3">3 - Good<br>
                    <input type="radio" class="form-check-input" name="contribution" value="2">2 - Fair<br>
                    <input type="radio" class="form-check-input" name="contribution" value="1">1 - Poor<br>
 					<br />	
        
        <p>8. Productivity:</p>
					<input type="radio" class="form-check-input" name="productivity" value="5">5 - Excellent<br>
                    <input type="radio" class="form-check-input" name="productivity" value="4">4 - Very Good<br>
                    <input type="radio" class="form-check-input" name="productivity" value="3">3 - Good<br>
                    <input type="radio" class="form-check-input" name="productivity" value="2">2 - Fair<br>
                    <input type="radio" class="form-check-input" name="productivity" value="1">1 - Poor<br>
 					<br />	
  
        <p>9. Areas of strength:</p>
            		<div class="form-group">
             			  <textarea class="form-control" rows="5" name="strength" maxlength="512" ></textarea>
           			 </div>
     
        <p>10. Areas of weakness:</p>
         		  	<div class="form-group">
                  		 <textarea class="form-control" rows="5" name="weakness" maxlength="512"></textarea>
        		    </div>
       
        <p>11. Additional comment:</p>
           			 <div class="form-group">
              			 <textarea class="form-control" rows="5" name="comment" maxlength="512"></textarea>
          			  </div>
      
        <button type="submit" class="btn btn-success btn-lg btn-block">Submit your feedback</button>
	</form>
    
    </div>
    <br />
    <br />
    <br />

    <div class="footer" style="margin-bottom:0">
        <br />
        <br />
    </div>

</body>
</html>