<div th:replace="fragments/header (pageTitle='Welcome to Enterprise System')"></div>
    
<div class="jumbotron bg-dark text-white text-center">
    <h1 class="font-weight-bold">Welcome to Internal Enterprise System!</h1>
</div>

<div class="container">
    <div class="row">

        <div class="col-sm-4 text-center">
            <i class="fas fa-chalkboard-teacher fa-5x"></i>
            <h3>MY SCORE</h3>
            <a th:href="@{/feedback}" class="btn btn-secondary" role="button">View my score</a>
            <p> Check your score  and how your co-workers have rated you </p>
        </div>

        <div class="col-sm-4 text-center">
            <i class="fas fa-check-square fa-5x"></i>
            <h3>TEAM FIVE</h3>
            <a th:href="@{/teamFive}" class="btn btn-secondary" role="button">OPEN TEAM FIVE!</a>
            <p> This is our experimental page. Please click the link to see the contents </p>
        </div>

        <div class="col-sm-4 text-center">
            <i class="fas fa-address-book fa-5x "></i>
            <h3>CONTACT LIST</h3>
            <a th:href="@{/personList}" class="btn btn-secondary" role="button">Open Contact List</a>
            <p> Here we have a link to all employee list. Click here to rate your co-workers </p>
        </div>
    </div>
</div>

<div th:replace="fragments/footer"></div>