<div th:replace="fragments/header (pageTitle='')"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3>Person list</h3>
				
				<a th:href="@{/personList}" class="btn btn-outline-success" role="button">Person List</a>
			<p> Here we have a link to all employee list </p>
			</div>
			<div class="col-sm-4">
				<h3>Team Five</h3>
					<a th:href="@{/teamFive}" class="btn btn-outline-info" role="button">TEAM FIVE!</a>
				<p> This is our experimental page. Please click to the link to see the contents </p>
			</div>
		</div>
			</div>
<br/><br/><br/>
<a th:href="@{/teamFive}">TEAM FIVE!</a>
           
<div th:replace="fragments/footer"></div>