<div th:replace="fragments/header (pageTitle='My Logbook')"></div>

    <div class="container-fluid bg-dark text-center text-white p-4">
        <h1></p> MY LOGBOOK</h1>
    </div>
<br />
<br />

<div class="container text-center">
<i class="fas fa-star fa-5x"></i>
  <h4><b>MY SCORE</b></h4>
  <h2><strong><span th:text="${score}"></span></strong></h2>
</div>

<div class="container">
<h4>Check the feedback!</h4>
<p> My colleagues have provided such feedbacks for me:</p>
</div>

<div th:each="fb : ${fbs}">
	<div class="container p-3" style="background-color: #aaff80">
	  <h5><strong><span th:text="${fb.employeeFromName}"></span> <span th:text="${fb.employeeFromSurname}"></span></strong> has left a comment for you on <span th:text="${fb.dateTime}"></span>:</h5>
	  <p><span th:text="${fb.comment}"></span></p>
	</div>
	<br />
	<br />
</div>



<div th:replace="fragments/footer"></div>