<div th:replace="fragments/header (pageTitle='My Logbook')"></div>

    <div class="container-fluid bg-dark text-center text-white p-4">
        <h1></p> MY LOGBOOK</h1>
    </div>
<br>
<br>

<div class="container text-center">
<i class="fas fa-star fa-5x"></i>
  <h4><b>MY SCORE</b></h4>
  <h2><b>200 </b></h2>
<p> here we enter the score from DB </p>
</div>

<div class="container">
<h4>Check the comments:</h4>
<p> Need to implement method for each employee who has submited feedback for this person</p>
</div>
<br>


<br>
<div class="container p-3" style="background-color: #aaff80">
  <h5><span><b>Name Surmane </b></span>  has left a comment for you:</h5>
  <p>Here we enter input from comment section found in feedbackForm. </p>
  <p> Great performance, easy to communicate with, pleasant experience!Thank you! </p>
</div>
<br>
<div class="container p-3" style="background-color: #aaff80">
  <h5><span><b>Another Name Surmane </b></span>  has left a comment for you:</h5>
  <p>WE NEED TO MAKE THIS WORK, GO TEAM NUMBER 5!!!!! </p>
</div>
<br>
<br>

<div th:replace="fragments/footer"></div>