<div th:replace="fragments/header (pageTitle='Employee Details')"></div>

<div class="container-fluid bg-dark text-center text-white p-4">
	<h4>
		UPDATE <span th:text="${surname}"></span>&nbsp;<span th:text="${name}"></span>:
	</h4>
</div>

<br />

<div class="container">

	<div th:if="${success == true}">
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Done!</strong> Employee has been updated.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>

	<form th:action="@{/updateEmployee}" method="post">	
		<input type="hidden" name="id" th:value="${id}">
		<input type="hidden" name="password" th:value="${password}">
		<div class="row">
		  <div class="p-2 col-2 font-weight-bold">Name:</div>
		  <div class="p-2 col-4"><input class="form-control" type="text" name="name" th:value="${name}" /></div>
		</div>
		<div class="row">
		  <div class="p-2 col-2 font-weight-bold">Surname:</div>
		  <div class="p-2 col-4"><input class="form-control" type="text" name="surname" th:value="${surname}" /></div>
		</div>
		<div class="row">
		  <div class="p-2 col-2 font-weight-bold">Person code:</div>
		  <div class="p-2 col-4"><input class="form-control" type="text" name="personCode" th:value="${personCode}" /></div>
		</div>
		<div class="row">
		  <div class="p-2 col-2 font-weight-bold">Email</div>
		  <div class="p-2 col-4"><input class="form-control" type="email" name="email" th:value="${email}" /></div>
		</div>
		
		
        

		<div class="row">
		 <div class="p-2 col-2 font-weight-bold">Access Level: </div>
        <div class="p-2 col-2 font-weight-bold">
	        <select name="accessLevel" required>
	        	<option th:each="lvl : ${accessLevels}"
	                            th:value="${lvl.accessLevelID}"
	                            th:utext="${lvl.accessLevel}"
	                            th:selected="${lvl.accessLevelID.equals(accessLevelID)}" />
				
			</select> 
		</div>
		</div> 

		<div class="row">
		  <div class="p-2 col-2 font-weight-bold">Role: </div>
        	<div class="p-2 col-2 font-weight-bold">
	        	<select name="role" required>
		        	<option selected="selected" disabled>select role</option>
		        	<option th:each="role : ${roles}"
		                            th:value="${role.roleID}"
		                            th:utext="${role.roleName}"
		                            th:selected="${role.roleID.equals(roleID)}" />
				</select> 
			</div>
		</div>
		<div class="row">
		  <div class="p-2 col-2 font-weight-bold">Education:</div>
		  <div class="p-2 col-4"><div class="p-2 col-4"><span th:text="${education}"></div></div>
		</div>
		<div class="row">
		  	<a th:href="@{/addEducation}" class="btn btn-secondary" value="" role="button" style="margin-left:10px;">Add education</a>
		  	<t>
		  	<a th:href="@{/changePassword}" class="btn btn-secondary" value="" role="button" style="margin-left:10px;">Change password</a>
		</div>
		<br />
		<div class="row">
			<div class="p-2 col-6 text-center font-weight-bold">
				<input class="form-control btn btn-success" type="submit" role="button" value="UPDATE">
			</div>
		</div>			
	</form>
<br><br>
</div>

<div th:replace="fragments/footer"></div>
